.inputContainer {
  gap: 0.5rem;
  width: 100%;
}

.textarea {
  width: 100%;
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-xs);
  color: var(--color-dark-text);
  outline: none;
  box-sizing: border-box;
  word-break: break-all;
  font-family: "Golos UI", Arial, sans-serif;
  resize: none;
  padding: 0.8rem 1.25rem;
}

.error {
  border: 2px solid var(--color-error);
}

.bottom {
  height: 1rem;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
  width: 100%;
  margin-top: -0.15rem;
}

.label {
  margin-bottom: -0.1rem;
}
