.button {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
}

.primary {
  background-color: var(--color-accent);
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.secondary {
  background: var(--color-btn-gradient);
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.tertiary {
  background-color: transparent;
}

.quaternary {
  background-color: var(--color-light);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.8rem var(--color-boxshadow-btn);
  }
}
